[submodule "timeline"]
	path = timeline
	url = https://github.com/jinbonetwork/taogi-timeline.git
[submodule "contribute/PHPMailer"]
	path = contribute/PHPMailer
	url = https://github.com/PHPMailer/PHPMailer.git
[submodule "contribute/html5sortable"]
	path = contribute/html5sortable
	url = https://github.com/farhadi/html5sortable.git
[submodule "contribute/autosize"]
	path = contribute/autosize
	url = https://github.com/jackmoore/autosize.git
[submodule "contribute/jquery.actual"]
	path = contribute/jquery.actual
	url = https://github.com/dreamerslab/jquery.actual.git
[submodule "contribute/is-loading"]
	path = contribute/is-loading
	url = https://github.com/hekigan/is-loading.git
[submodule "resources/js/fancyBox"]
	path = resources/js/fancyBox
	url = https://github.com/fancyapps/fancyBox.git
[submodule "contribute/medium-editor"]
	path = contribute/medium-editor
	url = https://github.com/daviferreira/medium-editor.git
[submodule "contribute/lessphp"]
	path = contribute/lessphp
	url = https://github.com/leafo/lessphp.git
[submodule "contribute/cropper"]
	path = contribute/cropper
	url = https://github.com/fengyuanchen/cropper.git
[submodule "contribute/ace"]
	path = contribute/ace
	url = https://github.com/ajaxorg/ace-builds.git
[submodule "contribute/SimpleImage"]
	path = contribute/SimpleImage
	url = https://github.com/claviska/SimpleImage.git
[submodule "contribute/image"]
	path = contribute/image
	url = https://github.com/Intervention/image.git
[submodule "contribute/Image"]
	path = contribute/Image
	url = https://github.com/Gregwar/Image.git
