[submodule "taogi-timeline"]
path = timeline
url = https://github.com/jinbonetwork/taogi-timeline.git

[submodule "PHPMailer"]
path = contribute/PHPMailer
url = https://github.com/PHPMailer/PHPMailer.git

[submodule "is-loadling"]
path = contribute/is-loading
url = https://github.com/hekigan/is-loading.git

[submodule "fancybox"]
path = resources/js/fancyBox
url = https://github.com/fancyapps/fancyBox.git

[submodule "html5sortable"]
path = contribute/html5sortable
url = https://github.com/farhadi/html5sortable.git

[submodule "autosize"]
path = contribute/autosize
url = https://github.com/jackmoore/autosize.git

[submodule "jquery.actual"]
path = contribute/jquery.actual
url = https://github.com/dreamerslab/jquery.actual.git
