@charset "utf-8";

/****************************************************************************************************
	COMPONENTS 
****************************************************************************************************/
/** Sharing **/
#taogi-gnb .share {
	zoom: 1;
}
#taogi-gnb .share:after {
	clear: both;
	content: ' ';
	display: block;
}
#taogi-gnb #taogi-embed-code {
	margin: 10px 5px;
	transition: max-height 0.5s ease-in-out;
	-webkit-transition: max-height 0.5s ease-in-out;
	-moz-transition: max-height 0.5s ease-in-out;
	-ms-transition: max-height 0.5s ease-in-out;
	-o-transition: max-height 0.5s ease-in-out;
	overflow: hidden;
	display: none;
}
#taogi-gnb #taogi-embed-code.collapsed {
}
#taogi-gnb #taogi-embed-code .taogi-embed-code-wrapper {
	border: 1px solid #fff;
	border-radius: 5px;
	padding: 10px;
}
#taogi-gnb #taogi-embed-code fieldset.fields {
	position: relative;
	padding-bottom: 8px;
}
#taogi-gnb #taogi-embed-code fieldset.fields input[type="text"] {
	width: 60px;
}
#taogi-gnb #taogi-embed-code fieldset.fields input[type="checkbox"] {
	vertical-align: middle;
}
#taogi-gnb #taogi-embed-code fieldset.fields span.taogi-embed-height-wrap {
	display: inline-block;
	transition: width 0.5s, opacity 0.5s;
	-webkit-transition: width 0.6s, opacity 0.6s;
	-moz-transition: width 0.6s, opacity 0.6s;
	-ms-transition: width 0.6s, opacity 0.6s;
	-o-transition: width 0.6s, opacity 0.6s;
	width: 0;
	opacity: 0;
	overflow: hidden;
}
#taogi-gnb #taogi-embed-code fieldset.fields span.taogi-embed-height-wrap.show {
	width: 70px;
	opacity: 1;
}
#taogi-gnb #taogi-embed-code textarea {
	width: 100%;
	height: 180px;
	padding: 8px;
	border-radius: 3px;
}
#taogi-gnb #taogi-embed-code fieldset.fields .help {
	position: absolute;
	right: -10px;;
	top: 10px;
	max-width: 100%;
	padding: 10px;
	z-index: -1;
	transition: opacity 0.6s;
	-webkit-transition: opacity 0.6s;
	-moz-transition: opacity 0.6s;
	-ms-transition: opacity 0.6s;
	-o-transition: opacity 0.6s;
	opacity: 0;
}
#taogi-gnb #taogi-embed-code fieldset.fields .help.show {
	z-index: 2;
	opacity: 1;
}
#taogi-gnb #taogi-embed-code fieldset.fields .help .help-inner {
	position: relative;
	padding: 15px;
	background: #000;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 5px;
}
#taogi-gnb #taogi-embed-code fieldset.fields .help .help-inner i.fa-close {
	position: absolute;
	z-index: 3;
	right: -10px;
	top: -10px;
	padding: 0 4px;
	background: #fff;
	border: 1px solid #fff;
	border-radius: 10px;
	color: #000;
}
#taogi-gnb .author {
	margin: 20px 20px 0 20px;
	padding: 0 0 8px 0;
	border-bottom: 1px solid rgba(255,255,255,0.4)
}
#taogi-gnb .author a {
	color: #999; 
	font-weight: bold;
}
#taogi-gnb .author a:hover {
	color: #fff;
}
#taogi-gnb .author a img.portrait {
	width: 16px;
	height: 16px;
	border-radius: 8px;
	margin-right: 3px;
}
/** Controls **/
#taogi-gnb .ui-controls {
	margin: 0 20px;
	padding: 0;
}
#taogi-gnb .ui-controls h3 {
	height: 20px;
	line-height: 20px;
}
#taogi-gnb .ui-controls ul {
	margin: 0;
	padding: 0;
}
#taogi-gnb .ui-controls.entrySidebar h3 {
	position: relative;
	/*
	display: block;
	*/
	display: none;
	cursor: pointer;
}
#taogi-gnb .ui-controls.entrySidebar h3:hover {
	color: #FFFFFF;
}
#taogi-gnb .ui-controls.entrySidebar h3:before {
	display: inline-block;
	vertical-align: top;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	font-family: 'FontAwesome';
	font-weight: normal;
	font-size: 16px;
	content: '\F013';
}
#taogi-gnb .ui-controls.entrySidebar.active h3:before {
	/*
	content: '\F106';
	*/
}
#taogi-gnb .ui-controls.entrySidebar ul {
	/*
	display: none;
	*/
	display: block;
}
#taogi-gnb .ui-controls.entrySidebar.active ul {
	/*
	display: block;
	*/
}
#taogi-gnb .ui-controls + .ui-controls:before,
#taogi-gnb .ui-controls > ul + ul:before {
	content: '';
	display: block;
	margin: 5px 0;
	padding: 0;
	border-top: 1px solid rgba(255,255,255,0.1);
}
#taogi-gnb .ui-controls ul li:after {
	content: '';
	display: block;
	clear: both;
}
#taogi-gnb .ui-controls ul li a {
	float: left;
	display: block;
	width: auto;
	height: 20px;
	line-height: 20px;
	margin: 0;
	padding: 0;
	font-size: inherit;
	color: #666666;
}
#taogi-gnb .ui-controls ul li a:hover {
	color: #FFFFFF;
}
#taogi-gnb .ui-controls ul li.current,
#taogi-gnb .ui-controls ul li.current a,
#taogi-gnb .ui-controls ul li.current a span {
	color: #FF0000;
}
#taogi-gnb .ui-controls#user-console ul li a:before {
	font-family: 'FontAwesome';
	content: '';
	display: inline-block;
	vertical-align: top;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	margin: 0;
	padding: 0;
	font-size: 16px;
}
#taogi-gnb .ui-controls#user-console ul li.home a:before {
	content: '\f015';
}
#taogi-gnb .ui-controls#user-console ul li.admin a:before {
	content: '\f0e4';
}
#taogi-gnb .ui-controls#user-console ul li.profile a:before {
	content: '\f007';
}
#taogi-gnb .ui-controls#user-console ul li.write a:before {
	content: '\f15b';
}
#taogi-gnb .ui-controls#user-console ul li.register a:before {
	content: '\f0ea';
}
#taogi-gnb .ui-controls#user-console ul li.login a:before {
	content: '\f090';
}
#taogi-gnb .ui-controls#user-console ul li.logout a:before {
	content: '\f08b';
}
#taogi-gnb .tooltip {
	margin-top: -3px;
	padding: 5px;
}
#taogi-gnb .tooltip-inner {
	padding: 3px 8px;
	background-color: #FFFFFF;
	color: #000000;
}
#taogi-gnb .tooltip-arrow {
	border-top-color: #FFFFFF;
}


