/** Interface **/
a.ui-controls-switch {
	display: block;
}
a.ui-controls-switch span {
	display: none;
}
a.ui-controls-switch:after {
	font-family: 'FontAwesome';
	content: '\f013';
	display: block;
	width: 16px;
	height: 16px;
	text-align: center;
	line-height: 16px;
}

/** Console **/
.ui-controls {
	min-height: 0 !important;
	margin: 0;
	padding: 0;	
}
.ui-controls h3 {
	/*
	display: block;
	*/
	display: none;
	height: 20px;
	line-height: 20px;
	margin: 0;
	padding: 0;
}
.ui-controls ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.ui-controls ul li {
	display: block;
	margin: 0;
	padding: 0;
	font-size: 14px;
}
.ui-controls ul li a {
	display: block;
	width: auto;
	height: 20px;
	line-height: 20px;
	margin: 0;
	padding: 0;
	font-size: inherit;
	color: #666666;
}
.ui-controls ul li a:hover {
	color: #000000;
}
.ui-controls ul li.current a {
	color: #FF0000;	
}
.ui-controls ul li a:before {
	font-family: 'FontAwesome';
	content: '';
	/*
	display: inline-block;
	*/
	display: none;
	vertical-align: top;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	margin: 0;
	padding: 0;
	font-size: 16px;
}
.ui-controls ul li a:after {
	content: '';
	display: block;
	clear: both;
}
.ui-controls ul li a span {
	/*
	display: inline-block;
	*/
	display: none;
	vertical-align: top;
	width: auto;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
}
/** console type **/
.ui-controls.title h3 {
	display: block;
}
.ui-controls.icon ul li a:before {
	display: inline-block;
}
.ui-controls.label ul li a span {
	display: inline-block;
}
.ui-controls.list ul,
.ui-controls.list ul li {
	display: block;
}
.ui-controls.group ul {
	display: block;
}
.ui-controls.group li {
	display: inline-block;
}
.ui-controls.inline ul,
.ui-controls.inline ul li {
	display: inline-block;
}
.ui-controls.hcard ul {
	padding-top: 3px;
}
.ui-controls.hcard ul li {
	float: left;
	padding: 4px 2px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #cccccc;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-bottom-color: #b3b3b3;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.ui-controls.hcard ul li:hover {
	color: #333333;
	background: #e6e6e6;
}
.ui-controls.hcard ul li:first-child {
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-topleft: 4px;
}
.ui-controls.hcard ul li:last-child {
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-topright: 4px;
}
/** console icons **/
.ui-controls ul li.view a:before {
	content: '\f06e';
}
.ui-controls ul li.edit a:before {
	content: '\f044';
}
.ui-controls ul li.history a:before {
	content: '\f017';
}
.ui-controls ul li.authors a:before {
	content: '\f0c0';
}
.ui-controls ul li.leave a:before {
	content: '\f05e';
}
.ui-controls ul li.public a:before {
	content: '\f0ac';
}
.ui-controls ul li.open a:before {
	content: '\f09c';
}
.ui-controls ul li.private a:before {
	content: '\f023';
}
.ui-controls ul li.delete a:before {
	content: '\f1f8';
}
.ui-controls ul li.forkable a:before {
	content: '\f079';
}
.ui-controls ul li.notForkable a:before {
	content: '\f132';
}
.ui-controls ul li.fork a:before {
	content: '\f126';
}
.ui-controls ul li.backup a:before {
	content: '\f019';
}

.ui-controls ul li.dashboard a:before {
	content: '\f007';
}

