/** Layout **/
.ui-form {
	margin: 20px 0 0 0;
	padding: 0;
}
.ui-form fieldset {
	margin: 0;
	padding: 0;
}
.ui-form fieldset legend {
	display: none;
	margin: 0;
	padding: 0;
}
.ui-form-items {
	margin: 0;
	padding: 0;
}
.ui-form-item,
.ui-form .buttons {
	clear: both;
	margin: 0;
	padding: 0;
	word-spacing: 0;
}
.ui-form-item {
	margin-bottom: 20px;
}
.ui-form-block:before,
.ui-form-block:after,
.ui-form-items:before,
.ui-form-items:after,
.ui-form-item:before,
.ui-form-item:after,
.ui-form .buttons:before,
.ui-form .buttons:after {
	content: '';
	display: block;
	clear: both;
}
.ui-form-item * {
	word-spacing: normal;
}
/** Label-control position **/
.ui-form-item {
	position: relative;
}
.ui-form-item-label {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	padding: 0 !important;
}
.ui-form-item-control,
.ui-form .buttons {
	margin-left: 120px;
}
.ui-form-hidden {
	width: 0;
	height: 0;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
/** Components **/
.ui-form label {
	display: block;
	margin: 0 0 0.5em 0;
	padding: 0;
	font-weight: bold;
}
.ui-form-item-label,
.ui-form input,
.ui-form textarea,
.ui-form select,
.ui-form .button,
.ui-form-item-placeholder,
.ui-form-item-template span,
.ui-form-item-trail {
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	box-sizing: border-box;
	display: block;
	float: left;
	margin: 0;
	padding: 0 0.7em;
	height: 30px;
	line-height: 29px;
	outline: none;
	font-size: 13px;
}
.ui-form .button + .button {
	margin-left: 10px;
}
.ui-form input,
.ui-form textarea,
.ui-form select,
.ui-form .button,
.buttons .button {
	border-radius: 3px;
}
.ui-form input,
.ui-form textarea,
.ui-form select {
	min-width: 200px;
	border: 1px solid rgba(0,0,0,0.25);
	background-color: #FFFFFF;
}
.ui-form input:hover,
.ui-form textarea:hover,
.ui-form select:hover {
	background-color: #FFFFDD;
	box-shadow: 0 0 5px rgba(0,0,0,0.25);
}
.ui-form input:focus,
.ui-form textarea:focus,
.ui-form select:focus {
	border-color: rgba(0,0,0,0.5);
	background-color: #FFFFFF;
	box-shadow: 0 0 5px rgba(0,0,0,0.25);
}
.ui-form input[type="checkbox"],
.ui-form input[type="radio"] {
	min-width: none;
	background-color: transparent;
	border: 0 none;
}
.ui-form-item-placeholder,
.ui-form-item-template span,
.ui-form-item-trail {
	padding: 0;
}
.ui-form-item-placeholder + .button,
.ui-form input + .button {
	margin-left: 10px;
}
/** Trails **/
.ui-form-item-trail {
	display: none;
}
.ui-form-item-trail span,
.ui-form-item-trail span:after {
	display: block;
	width: 30px;
	text-align: center;
	height: 30px;
	line-height: 30px;
	cursor: default;
}
.ui-form-item-trail span {
	position: relative;
	text-indent: -10000px;
	overflow: hidden;
}
.ui-form-item-trail span:after {
	position: absolute;
	top: 0;
	left: 0;
	text-indent: 0;
	content: '';
	font-family: 'FontAwesome';
	font-size: 16px;
}
.ui-form-item-trail span.success:after {
	color: #126804;
	content: '\f058';
}
.ui-form-item-trail span.failed:after {
	color: #C32854;
	content: '\f06a';
}

/** Help **/
.ui-form-item-help {
	clear: both;
	margin: 0;
	padding: 0;
	font-size: 12px;
}
.ui-form-item-help:before {
	content: '';
	display: block;
	height: 0.5em;
}
ul.ui-form-item-help,
ol.ui-form-item-help {
	list-style-position: inside;
}
ul.ui-form-item-help li,
ol.ui-form-item-help li {
	margin-left: 1.8em;
}
ul.ui-form-item-help {
	list-style: square; 
}
ol.ui-form-item-help {
	list-style: decimal; 
}
.ui-form-item-help * {
	margin: 0;
	padding: 0;
}
/** Buttons **/
.ui-form .button {
	min-width: 80px;
	background-color: #5bc0de;
	text-align: center;
	color: #000000;
	cursor: pointer;
}
.ui-form .button:hover {
	background-color: #2390b0;
	color: #FFFFFF;
}
.ui-form .button.submit,
.ui-form .button.apply {
	background-color: #428bca;
}
.ui-form .button.submit:hover,
.ui-form .button.apply:hover {
	background-color: #245682;
}
.ui-form .button.join,
.ui-form .button.save {
	background-color: #5cb85c;
}
.ui-form .button.join:hover,
.ui-form .button.save:hover {
	background-color: #357935;
}
.ui-form .button.cancel {
	background-color: #d9534f;
}
.ui-form .button.cancel:hover {
	background-color: #a02622;
}
.ui-form .button.cancel:hover {
}
.ui-form .button.link {
	min-width: 0;
	padding: 0;
	background-color: transparent;
	color: #555555;
}
.ui-form .button.link:hover {
	color: #000000;
	text-decoration: underline;
}
/** Image **/
.ui-form-item-control-image {
	position: relative;
	width: 110px;
	height: 110px;
	border-radius: 3px;
	overflow: hidden;
	background: transparent url(/resources/images/background_pattern_transparent-tile.png) scroll repeat top left;
}
.ui-form-item-image-preview {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-size: cover;
}
.ui-form-item-image-select {
	position: absolute;
	z-index: 2;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.ui-form-item-image-select li {
	position: static;
	display: inline-block;
	vertical-align: top;
	margin: 0;
	padding: 0;
}
.ui-form-item-image-select li .button {
	position: absolute;
	width: 30px;
	height: 30px;
	float: none;
	display: none;
	min-width: 0;
	margin: 0;
	padding: 0;
	border: 0 none;
	background-color: transparent !important;
	color: rgba(255,255,255,1) !important;
	opacity: 0.3;
}
.ui-form-item-image-select li .button:hover {
	opacity: 0.5;
}
.ui-form-item-image-select:hover li .button {
	display: block;
}
.ui-form-item-image-select li .button:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	font-family: 'FontAwesome';
	text-align: center;
}
.ui-form-item-image-select li .button span {
	display: none;
}
.ui-form-item-image-select li .button.upload,
.ui-form-item-image-select li .button.upload:after {
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 50px;
}
.ui-form-item-image-select li .button.upload {
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
}
.ui-form-item-image-select li .button.upload:after {
	content: '\f055';
	font-size: 50px;
}
.ui-form-item-image-select li .button.delete {
	color: rgba(255,0,0,1) !important;
}
.ui-form-item-image-select li .button.delete,
.ui-form-item-image-select li .button.delete:after {
	width: 20px;
	height: 20px;
	line-height: 20px;
	font-size: 20px;
}
.ui-form-item-image-select li .button.delete {
	top: 0;
	right: 0;
}
.ui-form-item-image-select li .button.delete:after {
	/*
	content: '\f1f8';
	*/
	content: '\f00d';
	font-size: 16px;
}
/** Float **/
.ui-form-item.float {
	float: left;
	margin-left: 120px;
}
.ui-form-item.float + .ui-form-item.float {
	clear: none;
	margin-left: 20px;
}	
.ui-form-item.float:after,
.ui-form-item.float + .ui-form-item.float:before {
	display: none;
	clear: none;
}
.ui-form-item.float label {
	display: block;
	float: none;
	position: relative;
	top: 0;
	left: 0;
}
.ui-form-item.float .ui-form-item-control {
	margin-left: 0;
}
/** media query **/
@media all and ( max-width: 640px ) {
	.ui-form-item {
		margin-left: 0 !important;
	}
	.ui-form-item-label {
		position: static !important;
		width: auto !important;
		float: none !important;
	}
	.ui-form-item-control,
	.ui-form .buttons {
		margin-left: 0 !important;
	}
}

/** Override **/
#taoginame_template {
}
#taoginame_template span {
	padding: 0;
}
label[for="email_id_confirm"],
label[for="password_confirm"] {
	display: none !important;
}
.ui-form-item-image[data-field="portrait"] {
}
.ui-form-item-image[data-field="background"] .ui-form-item-control-image {
	width: 300px;
}

.ui-form-focus {
	position: absolute;
	z-index: 101;
	left: 20px;
	top: 0;
	color: #fff;
	background: #f00;
	padding: 5px 10px;
	border-radius: 5px;
}
.ui-form-focus:before {
	bottom: 100%;
	left: 10%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 0, 0, 0);
	border-bottom-color: #ff0000;
	border-width: 8px;
	margin-left: -8px;
}
.ui-form-focus.ok {
	transition: opacity 0.8s;
	-webkit-transition: opacity 0.8s;
	-moz-transition: opacity 0.8s;
	-ms-transition: opacity 0.8s;
	-o-transition: opacity 0.8s;
	opacity: 1;
	background: #5cb85c;
}
.ui-form-focus.ok:before {
	border-bottom-color: #5cb85c;
}
