.ui-block {
	margin-top: 10px;
}

.value.composition {
}

.value.composition.NAMETAG {
}
.value.composition.NAMETAG .ROLE .value-wrap-open,
.value.composition.NAMETAG .ROLE .value-wrap-value,
.value.composition.NAMETAG .ROLE .value-wrap-close {
	display: none;
}
.value.composition.NAMETAG .ROLE:after {
	display: inline;
	font-family: 'FontAwesome';
	content: '\f007';
}
.value.composition.NAMETAG .ROLE[data-degree="10"]:after {
	content: '\f005';
}

.default_image_container:after {
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	width: 100px;
	height: 100px;
	text-align: center;
	line-height: 100px;
	margin: -50px 0 0 -50px;
	padding: 0;
	font-family: 'FontAwesome';
	font-size: 80px;
	color: #000000;
	text-shadow: 0 0 5px #FFFFFF;
}
.default_image_container.default_entry_image_container:after {
	content: '\F017';
}
.default_image_container.default_user_portrait_container:after {
	content: '\F007';
}

