.ui-vcard.ui-block {
	margin-top: 0;
}
.ui-vcard.ui-block .wrap {
	position: relative;
	margin: 0;
}
.ui-vcard.ui-block .BACKGROUND {
	position: relative;
	width: 100%;
	height: 150px;
	background-size: cover;
	background-position: center center;
	background-color: #000000;
}
.ui-vcard.ui-block .PORTRAITTAG {
	position: absolute;
	z-index: 2;
	top: 100px;
	left: 30px;
	width: 150px;
	height: 150px;
	overflow: hidden;
	background-color: #FFFFFF;
	border-radius: 100px;
	border: 3px solid #FFFFFF;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.25), inset 0 0 3px rgba(0, 0, 0, 0.25);
}
.ui-vcard.ui-block .userImageController {
	position: absolute;
	z-index: 999;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	width: 64px;
	height: 32px;
}
.ui-vcard.ui-block .userImageController a {
	opacity: 0.3;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	display: block;
	width: 32px;
	height: 32px;
	overflow: hidden;
	box-shadow: 0 0 5px rgba(0,0,0,1);
}
.ui-vcard.ui-block .userImageController a:hover {
	opacity: 0.5;
	z-index: 2;
}
.ui-vcard.ui-block .userImageController a span {
	display: none;
}
.ui-vcard.ui-block .userImageController a:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 32px;
	height: 32px;
	text-align: center;
	line-height: 32px;
	font-family: 'FontAwesome';
	font-size: 24px;
	box-sizing: border-box;
	background-color: #FFFFFF;
	color: #333333;
}
.ui-vcard.ui-block .userImageController a:hover:after {
}
.ui-vcard.ui-block .userImageController a.uploader {
	left: 0;	
	border-radius: 32px 0 0 32px;
}
.ui-vcard.ui-block .userImageController a.uploader:after {
	content: '\F067';
}
.ui-vcard.ui-block .userImageController a.remover {
	left: 32px;
	border-radius: 0 32px 32px 0;
}
.ui-vcard.ui-block .userImageController a.remover:after {
	content: '\F068';
}
.ui-vcard.ui-block .DISPLAY_NAME {
	position: relative;
	z-index: 1;
	height: 40px;
	line-height: 40px;
	text-indent: 200px;
	font-size: 25px;
	background-color: #A4DB90;
	border-top: 2px solid #2E8F67;
}
.ui-vcard.ui-block .summary {
	min-height: 60px;
	margin: 0 0 0 200px;
}
