body {
	background: #232323;
}
a, a:link, a:visited {
	color: #95A5B7;
}
a:hover, a:active {
	color: #C7DEED;
}

#carousel-timeline .item-container {
	box-shadow: 3px 3px 5px #000;
}

#taogi-net .touchcarousel-item.cover.front section.article .social a,
#taogi-net .touchcarousel-item.cover.back section.article .social a {
	color: #bdbdbd;
}

/* 로고 옆 제목 */
#taogi-timeline-title {
	color: #FFF;
}

#taogi-net .touchcarousel-item section.article .title,
#taogi-net .touchcarousel-item section.article .description {
	color: #FFF;
}

/* 날짜 */
#taogi-net .touchcarousel-item section.article .pubdate {
	color: #95A5B7;
    border-bottom: 0 none;
}

.cover .section.article h1.title, .cover .section.article div.description, .cover .section.article .meta {
	text-align: left;
}


.cover.front .section.article div.description {
	border-top: 0 none;
}


/* indicator */
.taogi-scrollbar-tooltip {
	border-bottom: 1px solid #AAA;
	color: #AAA;
}
.taogi-scrollbar-tooltip span.split,
.taogi-scrollbar-tooltip span.label {
	color: #AAA;
}
.taogi-scrollbar-marker {
	border-color: #AAA;
}
